<% content_for :title, t('home.donate.title') %>   
<%= content_for(:impressum) do %>
    <li><a href="//tchncs.de/impressum.html" target="_blank"><i class="glyphicon glyphicon-tree-deciduous"></i> Impressum</a></li><li>|</li>
<% end %>
    <div align="left">
        <div align="center">
            <img src="//images.illuna-minetest.tk/donate/donate-head.jpg" alt="" width="1120px">
            <h4><%= t('home.donate.description') %></h4>
            <div class="space-top-sm"></div>
            <a href="//www.paypal.me/illuna" target="_blank"><img class="circle-border donate-img" style="max-width:100px;" src="//images.illuna-minetest.tk/donate/paypal.png"></a>
            <a href="//flattr.com/profile/illuna" target="_blank"><img class="circle-border donate-img" style="max-width:100px;" src="//images.illuna-minetest.tk/donate/flattr.png"></a>
            <div style="padding-top:20px;"></div>
            <i class="glyphicon glyphicon-btc" style="color:#F8B82F;margin-top:5px;"></i> <code style="border:1px solid #647077;">164aPk3HMy33U6jzuHgEHPdjHHMNgHJfAr</code>
            <div style="padding-top:1em;"></div>        
        <hr>
        </div>
        <ul>
            <ol>
                <table class="table" class="left" id="regular-table" style="max-width:300px;">
                    <ul class="list-group" id="regular-table" style="max-width:300px;">
                        <strong>
                            <li class="list-group-item" id="regular-table" style="max-width:300px;"><span style="font-size: 120%;"> <%= t('home.donate.payd') %> <p id="f-right"  data-toggle="tooltip" data-placement="top" title="" data-original-title="KVM: 20€/month">301,98€</p></span></li>                           
                            <li  class="list-group-item" id="regular-table" style="max-width:300px;"style="font-size: 120%;"><span> <%= t('home.donate.donated') %> <p id="f-right" style="color:#E07434;">175,41€</p></span></li>
                        </strong>
                    </ul>
                </table>
            </ol>
        </ul>
        <hr>
        <h4 style="text-align:center;"><%= t('home.donate.amazing') %></h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-success active" style="width: 58%">
                <span><div style="align:center;color:white;"><b>58.09%</b></div></span><br>
            </div>
        </div>
        <hr /><br>
        <ul>
            <ol>
                <h3><%= t('home.donate.graceful_helpers') %></h3>
                <h5><%= t('home.donate.money_donations') %></h5>
                <table class="table" class="left" id="regular-table" style="width:300px;">
			<ul class="list-group" id="regular-table" style="width:300px;">
			<li class="list-group-item" id="regular-table" style="width:300px;"><span>Askalienkos <span class="label label-success" style="float:right;">+ 5€</span></span></li>
                        <li class="list-group-item" id="regular-table" style="width:300px;"><span>Donzooles <span class="label label-success" style="float:right;">+ 8€</span></span></li>
                        <li class="list-group-item" id="regular-table" style="width:300px;"><span>Coeseta <span style="float:right;"><span class="glyphicon glyphicon-fire"style="color:#DBE6ED;" aria-hidden="true"></span> <span class="label label-success">+ 60€</span></span></span></span></li>
                        <li class="list-group-item" id="regular-table" style="width:300px;"><span>Coeseta <span style="float:right;"><span class="glyphicon glyphicon-fire"style="color:#DBE6ED;" aria-hidden="true"></span> <span class="label label-success">+ 50€</span></span></span></span></li>
                        <li class="list-group-item" id="regular-table" style="width:300px;"><span>Coeseta <span class="label label-success" style="float:right;">+ 20€</span></span></li>
                        <li class="list-group-item" id="regular-table" style="width:300px;"><span>Kelso <span class="label label-success" style="float:right;">+ 20€</span></span></li>
                        <li class="list-group-item" id="regular-table" style="width:300px;"><span>Anonymous <span class="label label-success" style="float:right;">+ 10€</span></span></li>
                        <li class="list-group-item" id="regular-table" style="width:300px;"><span>Alexander F. <span class="label label-success" style="float:right;">+ 6,41€</span></span></li>
                    </ul>
                </table>
                <h5><%= t('home.donate.contributions') %></h5>
                    <table class="table" class="left" id="regular-table" style="width:300px;">
                        <ul class="list-group" id="regular-table" style="width:300px;">
                            <li class="list-group-item" id="regular-table" style="width:300px;"><span> Coeseta <span id="f-right"><%= t('home.donate.textures') %></span></span></li>
                            <li class="list-group-item" id="regular-table" style="width:300px;"><span> Kelso <span id="f-right"><%= t('home.donate.textures') %></span></span></li>
                            <li class="list-group-item" id="regular-table" style="width:300px;"><span> Dafoxia <span id="f-right"><%= t('home.donate.textures') %></span></span></li>
                        </ul>
                    </table>
                </ol>
            </ul>
            <hr />
            <p><%= t('home.donate.cool_idea_html') %></p>
        </div>
</div>
