<% content_for :title, t('home.faq.title') %>
<div class="container shader" id="content">
    <h2 style="text-align:center;"><%=t('home.faq.headline')%></h2>
    <p><%=t('home.faq.password_html')%></p>
    <hr>
    <p><%=t('home.faq.interact_html')%></p>
    <hr>
    <p><%=t('home.faq.texturepacks_html')%></p>
    <table class="table" class="left" id="regular-table" style="max-width:350px;">
        <ul class="list-group" id="regular-table" style="max-width:350px;">
            <li class="list-group-item" id="regular-table" style="max-width:350px;">
                <p><%=t('home.faq.texturepacks_illuna')%>
            <a href="//git.tchncs.de/Illuna-Minetest/BorderlandsRemix-light" target="_blank" id="f-right">Link</a>
                </p>
            </li>
            <li class="list-group-item" id="regular-table" style="max-width:350px;">
                <p><%=t('home.faq.texturepacks_john_smith')%>
            <a href="http://thatraspberrypiserver.raspberryip.com/Infinatum_Minetest/john_smith.html" target="_blank" id="f-right">Link</a>
                </p>
            </li>
            <li class="list-group-item" id="regular-table" style="max-width:350px;">
                <p><%=t('home.faq.texturepacks_mt_32px_html')%>
            <a href="//forum.minetest.net/viewtopic.php?f=4&amp;t=13327" target="_blank" id="f-right" style="vertical-align:middle;">Link</a>
                </p>
            </li>
        </ul>
    </table>
    <hr>
    <p><%=t('home.faq.disconnect_html')%></p>
    <hr>
    <p><%=t('home.faq.buckets_html')%></p>
    <hr>
    <p><%=t('home.faq.sources_html')%></p>
    <a class="btn btn-default btn-xs" type="button" href="mods"><%=t('home.faq.sources_mods')%></a>
    <a class="btn btn-default btn-xs" type="button" href="//git.tchncs.de/Illuna-Minetest/BorderlandsRemix" target="_blank"><%=t('home.faq.sources_tp')%></a>
    <a class="btn btn-default btn-xs" type="button" href="//git.tchncs.de/Illuna-Minetest" target="_blank"><%=t('home.faq.sources_git')%></a>
    <hr>
    <p><%=t('home.faq.mapgen_html')%></p>
    <hr>
</div>
