 <% content_for :title, t('home.mods.title') %>
<div class="container shader" id="content" style="color:grey;border:0;">
        <nav style="display:inline-block;position:absolute;">
            <ul class="pager">
                <li class="previous"><a href="faq"><span aria-hidden="true">&larr;</span> FAQ</a></li>
            </ul>
        </nav>
        <h2 style="text-align:center;"><%= t('home.mods.headline') %></h2>
        <hr>
        <ul>
            <li>
                <strong>3d_armor</strong> 
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=11&t=4654" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26px;">
                    </a> 
                    <a href="//github.com/stujones11/minetest-3d_armor" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="26px">
                    </a>
                </div>
                <br><%= t('home.mods.3d_armor_html') %>
            </li>
            <ol>
                <li>3d_armor</li>
                <li>shields</li>
                <li>wieldview</li>
            </ol>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>ambience</strong> 
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?t=2807" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//git.tchncs.de/Illuna-Minetest/ambience" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the original github project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a> 
                    <a href="//github.com/HybridDog/Ambience" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the illuna gitlab project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.ambience') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>arrow_signs</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=3353" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a> 
                    <a href="//bitbucket.org/adrido/arrow_signs" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the bitbucket project">
                        <img src="//images.illuna-minetest.tk/icons/bitbucket.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.arrow_signs') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>bags</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=11&t=3081" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a> 
                    <a href="//github.com/cornernote/minetest-bags" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div> 
                <br><%= t('home.mods.arrow_bags') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>beds</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.beds') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>biome_lib</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=11&t=12999" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/VanessaE/biome_lib" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.biomelib') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>bitchange</strong>
                <div id="f-right"><a href="//forum.minetest.net/viewtopic.php?id=7821" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/SmallJoker/bitchange" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.bitchange') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>boats</strong>
                <div id="f-right">
                  <!--  <a href="//git.tchncs.de/Illuna-Minetesti/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                  </a> -->
                    <a href="//github.com/tenplus1/boats" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.boats') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>bones</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                     <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                         <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                     </a>
                </div>
                <br><%= t('home.mods.bones') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>boost_cart</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/boost_cart" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26">
                    </a>
                    <a href="//github.com/SmallJoker/boost_cart" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.boost_cart_html') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>bridges</strong>
                <div id="f-right"> 
                    <a href="//github.com/Sokomine/bridges" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.bridges') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>bucket</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.buckets') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>cannons</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=11&t=7744" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//git.tchncs.de/Illuna-Minetest/cannons" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26">
                    </a>
                    <a href="//bitbucket.org/kingarthursteam/cannons" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original bitbucket project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/bitbucket.png" width="27">
                    </a>
                </div>
                <br><%= t('home.mods.cannons') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>caverealms</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=9&t=9522" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//git.tchncs.de/Illuna-Minetest/caverealms" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26">
                    </a>
                    <a href="//github.com/HeroOfTheWinds/minetest-caverealms" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="27">
                    </a>
                </div>
                <br><%= t('home.mods.caverealms') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>character_creator</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=9&t=13138" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/Rui914/character_creator" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="27">
                    </a>
                </div>
                <br><%= t('home.mods.character_creator_html') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>christmas_craft</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/christmas_craft" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26">
                    </a>
                    <a href="//bitbucket.org/kingarthursteam/christmas_craft" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original bitbucket project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/bitbucket.png" width="27">
                    </a>
                </div>
                <br><%= t('home.mods.christmas_craft') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>columnia</strong>
                <div id="f-right">
                    <a href="http://moontest.org/viewtopic.php?t=9892&p=150666" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//git.tchncs.de/Illuna-Minetest/columnia" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26">
                    </a>
                    <a href="//github.com/Glunggi/columnia" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                    </strong>
                </div>
                <br><%= t('home.mods.columnia') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>cottages</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=5120" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//git.tchncs.de/Illuna-Minetest/cottages" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26">
                    </a>
                    <a href="//github.com/Sokomine/cottages" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.cottages') %>
            </li>
        </ul><hr>
        <ul>
            <li>
                <strong>craft_guide</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?t=2334" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//cornernote.github.io/minetest-craft_guide/" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.craft_guide') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>darkage</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=3213" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//git.tchncs.de/Illuna-Minetest/darkage" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26">
                    </a>
                    <a href="//github.com/HybridDog/darkage" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.darkage') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>death_messages</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/death_messages" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                </div>
                <br><%= t('home.mods.death_messages') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>default</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.default') %>
            </li>

        </ul>
        <hr>
        <ul>
            <li>
                <strong>doors</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.doors') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>dungeon_loot</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=9&t=13487" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/BlockMen/dungeon_loot" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.dungeon_loot') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>dye</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.dye') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>farming</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/farming" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/tenplus1/farming" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.farming') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>flowers</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.flowers') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>give_initial_stuff</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.give_initial_stuff') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>helloscreen</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/helloscreen" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//bitbucket.org/kingarthursteam/king_arthurs_game/src/732f35c94701/mods/helloscreen/?at=master" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original bitbucket project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/bitbucket.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.helloscreen') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>homedecor_modpack</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=2041&p=8" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/VanessaE/homedecor_modpack" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.homedecor_modpack') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>hudbars</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/hudbars" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/tenplus1/hudbars" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.hudbars') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>illuna</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/illuna" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                </div>
                <br><%= t('home.mods.illuna') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>inventory_plus</strong>
                <div id="f-right">
                    <a href="//github.com/cornernote/minetest-inventory_plus" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.inventory_plus') %>
            </li>
        </ul>
        <hr>
<!-- illuna -->
        <ul>
            <li>
                <strong>irc</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=3905" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/kaeza/minetest-irc" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.irc') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>mapfix</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=9&t=10662&p=201614" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/Gael-de-Sailly/mapfix" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.mapfix') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>maptools</strong>
                <div id="f-right">
                    <a href="http://www.minetest.net/forum/viewtopic.php?id=1882" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/minetest-mods/maptools" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.maptools') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>medieval_craft</strong>
                <div id="f-right">
                    <a href="//bitbucket.org/kingarthursteam/medieval_craft" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the bitbucket project">
                        <img src="//images.illuna-minetest.tk/icons/bitbucket.png" width="27px">
                    </a>
                    </strong>
                </div>
                <br><%= t('home.mods.medieval_craft') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>mesecons</strong>
                <div id="f-right"><a href="//forum.minetest.net/viewtopic.php?id=628" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/Jeija/minetest-mod-mesecons" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.mesecons') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>mini_sun</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=9&t=6222" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/bdjnk/mini_sun" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project"><img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.mini_sun') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>mobs</li>
            <ol>
                <li>
                    <strong>mobs_redo</strong>
                    <div id="f-right">
                        <a href="//forum.minetest.net/viewtopic.php?f=11&t=9917" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                            <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                        </a>
                        <a href="//github.com/tenplus1/mobs/" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                            <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                        </a>
                    </div>
                    <br><%= t('home.mods.mobs') %>
                </li>
                <ol>
                    <li>bee</li>
                    <li>bunny</li>
                    <li>chicken</li>
                    <li>cow</li>
                    <li>dirtmonster</li>
                    <li>dungeonmaster</li>
                    <li>kitten</li>
                    <li>lavaflan</li>
                    <li>mesemonster</li>
                    <li>oerkki</li>
                    <li>rat</li>
                    <li>sandmonster</li>
                    <li>sheep</li>
                    <li>spider</li>
                    <li>stonemonster</li>
                    <li>treemonster</li>
                    <li>warthog</li>
                </ol>
                <hr>
                <li>
                    <strong>mr_goat</strong>
                    <div id="f-right">
                        <a href="//forum.minetest.net/viewtopic.php?f=11&t=9917&start=200#p173535" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                            <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                        </a>
                    </div>
                </li>
                <hr>
                <li>
                    <strong>mobs_sky</strong>
                    <div id="f-right">
                        <a href="//github.com/blert2112/mobs_sky" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                            <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                        </a>
                    </div>
                </li>	
                <ol>
                    <li>birds</li>
                    <li>bat</li>
                    <li>butterfly</li><hr>
                </ol>
                <li>
                    <strong>ghost</strong>
                    <div id="f-right">
                        <a href="//forum.minetest.net/viewtopic.php?f=11&t=9917&start=275#p177456" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the forumtopic">
                            <img src="//images.illuna-minetest.tk/icons/mt.png" width="25px">
                        </a>
                    </div>
                </li>
                <hr>
                <li>
                    <strong>mobs_more_monsters</strong>
                    <div id="f-right">
                        <a href="//git.tchncs.de/Illuna-Minetest/mobs_more_monsters" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                            <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                        </a>
                        <a href="//github.com/blert2112/mobs_more_monsters" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                            <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                        </a>
                    </div>
                    <ol>
                        <li>pumpking</li>
                        <li>sandworm</li>
                        <li>senderman</li>
                        <li>slimes</li>
                        <li>yeti</li>
                        <li>zombie</li>
                    </ol>
                </li>
                <hr>
                <li>
                    <strong>mobs_more_animals</strong>
                    <div id="f-right">
                        <a href="//git.tchncs.de/Illuna-Minetest/mobs_more_animals" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                            <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                        </a>
                        <a href="//github.com/blert2112/mobs_more_animals" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                            <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                        </a>
                    </div>
                    <ol>
                        <li>bear</li>
                        <li>better_rat</li>
                        <li>deer</li>
                        <li>snowman</li>
                        <li>wolf</li>
                    </ol>
                </li>
                <hr>
                <li>
                    <strong>mobf_trader</strong>
                    <div id="f-right">
                        <a href="//forum.minetest.net/viewtopic.php?id=9013" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                            <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                        </a>
                        <a href="//github.com/Sokomine/mobf_trader" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                            <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                        </a>
                    </div>
                    <br><%= t('home.mods.mobf_trader') %>
                </li><!-- fish, jellyfish, more_mobs -->
            </ol>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>moreblocks</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=11&t=509" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/Calinou/moreblocks" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.moreblocks') %>
            </li>

        </ul>
        <hr>
        <ul>
            <li>
                <strong>moreglass</strong>
                <div id="f-right">
                    <a href="//github.com/dafoxia/moreglass" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.moreglass') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>moreores</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=549" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//git.tchncs.de/Illuna-Minetest/moreores" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest-mods/moreores" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.moreores') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>moretrees</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=4394" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/VanessaE/moretrees" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.moretrees') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>munin</strong>
                <div id="f-right">
                    <a href="//github.com/Pitriss/overridemodpack/tree/master/munin" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.munin') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>pipeworks</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=2155" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/VanessaE/pipeworks" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.pipeworks') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>plantlife_modpack</strong>
                <div id="f-right">
                    <a href="http://www.minetest.net/forum/viewtopic.php?id=3898" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/VanessaE/plantlife_modpack" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.plantlife_modpack') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>quartz</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?t=5682" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/4Evergreen4/quartz" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.quartz') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>replacer</strong>
                <div id="f-right">
                    <a href="//github.com/Sokomine/replacer" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.replacer') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>screwdriver</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.screwdriver') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>sea</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=11&t=4627" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                </div>
                <br><%= t('home.mods.sea') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>sethome</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.sethome') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>signs_lib</strong>
                <div id="f-right">
                    <a href="signs_lib https://github.com/VanessaE/signs_lib" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.signs_lib') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>sprint</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/sprint" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/GunshipPenguin/sprint" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.sprint_html') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>stairs</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.stairs') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>stairsplus</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=6140" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/CasimirKaPazi/stairsplus" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.stairsplus') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>steel</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=2014" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/VanessaE/minetest-steel" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.steel') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>teleport_potion</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=9&t=9234" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/tenplus1/teleport_potion" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.teleport_potion') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>the_list</strong>
                <div id="f-right">
                    <a href="//github.com/crazyginger72/the_list" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.the_list') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>tnt</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.tnt') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>torches</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?id=6099" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/BlockMen/torches" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.torches') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>travelnet</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?f=11&t=4877" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/Sokomine/travelnet" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.travelnet') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>unifieddyes</strong>
                <div id="f-right">
                    <a href="//forum.minetest.net/viewtopic.php?pid=28399" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="to the forumtopic">
                        <img src="//images.illuna-minetest.tk/icons/mt.png" width="26">
                    </a>
                    <a href="//github.com/VanessaE/unifieddyes" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.unifieddyes') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>vessels</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.vessels') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>walls</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.walls') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>wine</strong>
                <div id="f-right">
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.wine') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>wool</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.wool') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>xconnected</strong>
                <div id="f-right">
                    <a href="//github.com/Sokomine/xconnected" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the github project">
                        <img src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.xconnected') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>xdecor</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/xdecor" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                        <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/kilbith/xdecor/commits/master" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.xdecor') %>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <strong>xpanes</strong>
                <div id="f-right">
                    <a href="//git.tchncs.de/Illuna-Minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="to the illuna gitlab project">
                         <img src="//images.illuna-minetest.tk/icons/gitlab.png" width="26px">
                    </a>
                    <a href="//github.com/minetest/minetest_game" target="_blank" data-toggle="tooltip" data-placement="buttom" title="" data-original-title="to the original github project">
                        <img class="img-old" src="//images.illuna-minetest.tk/icons/mark.png" width="25px">
                    </a>
                </div>
                <br><%= t('home.mods.xpanes') %>
            </li>
        </ul>
        <hr>
        <nav>
            <ul class="pager">
                <li class="previous"><a href="faq"><span aria-hidden="true">&larr;</span> FAQ</a></li>
            </ul>
        </nav>
    </div>
    <a href="#" class="back-to-top nohover">Back to Top</a>
    <% content_for :after do %>
        <script src="//assets.tchncs.de/bootstrap/js/tooltip.js"></script>
        <script>$(document).ready(function(){$("[data-toggle='tooltip']").tooltip({html:!0}),$('[data-toggle="popover"]').popover({trigger:"hover",show:!0})});</script>
        <script src="//assets.tchncs.de/js/btt.js"></script>
    <% end %>
