<% content_for :title, t('home.rules.title') %>
<div class="container shader" id="content">
    <h2 style="text-align:center;"><%= t('home.rules.headline') %></h2>
    <ul>
        <h3><%= t('home.rules.head_general') %></h3>
        <li>
            <p><%= t('home.rules.fire') %></p>
        </li>
        <li>
            <p><%= t('home.rules.steal') %></p>
        </li>
        <ol>
            <li>
                <p><%= t('home.rules.steal_except_html') %></p>
            </li>
        </ol>
        <li>
            <p><%= t('home.rules.distance_html') %></p>
        </li>
        <ol>
            <li>
                <p><%= t('home.rules.distance_except_html') %></p>
            </li>
        </ol>
        <li>
            <p><%= t('home.rules.insults') %></p>
        </li>
        <li>
            <p><%= t('home.rules.flattening') %></p>
        </li>
        <li>
            <p><%= t('home.rules.harvested_trees') %></p>
        </li>
        <li>
            <p><%= t('home.rules.pvp') %></p>
        </li>
        <ol>
            <li><p><%= t('home.rules.pvp_except_html') %></p>
            </li>
        </ol>
        <li>
            <p><%= t('home.rules.bones_html') %></p>
        </li> 
        <h3><%= t('home.rules.head_tnt') %></h3>
        <li>
            <p><%= t('home.rules.tnt_general_html') %></p>
            <ol>
                <li>
                    <p><%= t('home.rules.tnt_grief') %></p>
                </li>
                <li>
                    <p><%= t('home.rules.tnt_fire') %></p>
                </li>
                <li>
                    <p><%= t('home.rules.tnt_asking') %></p>
                </li>
            </ol>
        </li>
        <h3><%= t('home.rules.head_mese') %></h3>
        <li>
            <p><%= t('home.rules.mesecons_html') %></p>
        </li>
    </ul>
</div>
